**/auto
TAGS
blocks
png
*~
*.aux
*.blg
*.stm
*.log
*.toc
*.out
*.nav
*.snm
*.idx
*.ilg
*.ind
*-blx.bib
*.bcf
*.run.xml
main-blx.bib
*.bbl
comment.cut
print.pdf
print-crop.pdf
main.pdf
problems.pdf
solutions.pdf
slides.pdf
iallslides.tex
allslides.pdf
appendix.pdf
chapter-?.pdf
