**/auto
blocks
*~
*.aux
*.blg
*.frm
*.log
*.toc
*.out
*.nav
*.snm
*.idx
*.ilg
*.ind
*-blx.bib
*.bcf
*.run.xml
main-blx.bib
comment.cut
print.pdf
print-crop.pdf
main.pdf
problems.pdf
solutions.pdf
slides.pdf
